# Mode d'exécution (development / production)
NODE_ENV=development

# Clé secrète pour JWT
JWT_SECRET=your_jwt_secret_here

# URLs des services backend pour le frontend 
VITE_PRODUCT_SERVICE_URL=http://product-service:3000/api/products
VITE_AUTH_SERVICE_URL=http://auth-service:3001/api/auth
VITE_ORDER_SERVICE_URL=http://order-service:3002/api/orders

# Connexions MongoDB
MONGODB_URI_PRODUCT=mongodb://product-db:27017/products
MONGODB_URI_AUTH=mongodb://auth-db:27017/auth
MONGODB_URI_ORDER=mongodb://order-db:27017/orders

# Variables pour Docker Registry 
DOCKER_REGISTRY=your-docker-registry.com
DOCKER_USERNAME=your-docker-username
DOCKER_PASSWORD=your-docker-password
